<div class="row">
  <div class="span12 slide"  id="slide6" data-slide="6" data-stellar-background-ratio="0.5">

    <div class="image-center" style="width: 367px;">
      <img src="/assets/ea-logo/tech-logo.png" alt="" />
    </div>
  </div>
</div>

<div class="row thumbnails" style="margin-top: 20px;">

  <div class="span3">
    <div class="media thumbnail">
      <a href="#mobility" role="button" data-toggle="modal">
        <img class="media-object" src="/assets/ea-logo/tech-mobile.png" width="100%" height="100%">
      </a>
      <h3 style="text-align: center;">MOBILE</h3>
    </div>
  </div>

  <div class="span3">
    <div class="media thumbnail">
      <a href="#mobility" role="button" data-toggle="modal">
        <img class="media-object" src="/assets/ea-logo/tech-php.png" width="100%" height="100%">
      </a>
      <h3 style="text-align: center;">PHP</h3>
    </div>
  </div>
  
  <div class="span3">
    <div class="media thumbnail">
      <a href="#mobility" role="button" data-toggle="modal">
        <img class="media-object" src="/assets/ea-logo/tech-net.png" width="100%" height="100%">
      </a>
      <h3 style="text-align: center;">.NET</h3>
    </div>
  </div>
  
  <div class="span3">
    <div class="media thumbnail">
      <a href="#mobility" role="button" data-toggle="modal">
        <img class="media-object" src="/assets/ea-logo/tech-java.png" width="100%" height="100%">
      </a>
      <h3 style="text-align: center;">JAVA</h3>
    </div>
  </div>

</div>  






<div class="row thumbnails" style="margin-top: 20px;">

  <div class="span3">
    <div class="media thumbnail">
      <a href="#mobility" role="button" data-toggle="modal">
        <img class="media-object" src="/assets/ea-logo/tech-ux.png" width="100%" height="100%">
      </a>
      <h3 style="text-align: center;">UX</h3>
    </div>
  </div>

  <div class="span3">
    <div class="media thumbnail">
      <a href="#mobility" role="button" data-toggle="modal">
        <img class="media-object" src="/assets/ea-logo/tech-cf.png" width="100%" height="100%">
      </a>
      <h3 style="text-align: center;">Cold Fusion</h3>
    </div>
  </div>
  
  <div class="span3">
    <div class="media thumbnail">
      <a href="#mobility" role="button" data-toggle="modal">
        <img class="media-object" src="/assets/ea-logo/tech-ror.png" width="100%" height="100%">
      </a>
      <h3 style="text-align: center;">Ruby on Rails</h3>
    </div>
  </div>
  
  <div class="span3">
    <div class="media thumbnail">
      <a href="#mobility" role="button" data-toggle="modal">
        <img class="media-object" src="/assets/ea-logo/tech-tibco.png" width="100%" height="100%">
      </a>
      <h3 style="text-align: center;">Tibco</h3>
    </div>
  </div>

</div> 


<%= render 'global_partial/ruby_on_rails' %>
<%= render 'global_partial/php' %>
<%= render 'global_partial/mobility' %>
<%= render 'global_partial/microsoft' %>
<%= render 'global_partial/ux' %>
<%= render 'global_partial/tibco' %>
<%= render 'global_partial/java' %>
<%= render 'global_partial/cold_fusion' %>

