<div class="row">
  <div class="span12 slide"  id="slide6" data-slide="6" data-stellar-background-ratio="0.5">

    <div>
      <h3><span>Technologies</span></h3>
      <h4>Nullam luctus lacus in massa feugiat venenatis. Morbi a lorem mauris. Nam egestas ligula dignissim justo ullamcorper viverra.</h4>
    </div>

    <div class="row thumbnails" style="margin-top: 20px;">

      <div class="span4">
        <div class="media thumbnail">
          <a class="pull-left" href="#mobility" role="button" data-toggle="modal">
            <img class="media-object" src="/assets/icons/mobility.png" width="128" height="64">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Mobility</h4>
            <div class="media" rel="popover"  data-content="Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
              posuere cubilia Curae; Phasellus tempor ipsum vel sapien mattis" data-original-title="Mobility">
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
              posuere cubilia Curae; Phasellus tempor ipsum vel sapien mattis
            </div>
          </div>
        </div>
      </div>


      <div class="span4">
        <div class="media thumbnail">
          <a class="pull-left" href="#ruby_on_rails" role="button" data-toggle="modal">
            <img class="media-object" src="/assets/icons/ror.png" width="128" height="64">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Ruby on Rails</h4>
            <div class="media" rel="popover"  data-content="Nulla eu dolor mauris. Aliquam dignissim quam a massa mattis id 
              sagittis ipsum faucibus. Nullam cursus pellentesque fermentum. 
              Suspendisse" data-original-title="Ruby on Rails">
              Nulla eu dolor mauris. Aliquam dignissim quam a massa mattis id 
              sagittis ipsum faucibus. Nullam cursus pellentesque fermentum. 
              Suspendisse
            </div>
          </div>
        </div>
      </div>


      <div class="span4">
        <div class="media thumbnail">
          <a class="pull-left" href="#">
            <img class="media-object" src="/assets/icons/open_source.png" width="128" height="64">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Open Source</h4>
            <div class="media" rel="popover"  data-content="Nullam cursus pellentesque fermentum. Suspendisse consequat elit malesuada metus cursus tristique. 
              Integer in sapien eu elit" data-original-title="Open Source">
              Nullam cursus pellentesque fermentum. Suspendisse consequat elit malesuada metus cursus tristique. 
              Integer in sapien eu elit
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row thumbnails" style="margin-top: 20px;">
      <div class="span4">
        <div class="media thumbnail">
          <a class="pull-left" href="#microsoft" role="button" data-toggle="modal">
           <img class="media-object" src="/assets/icons/dot_net.png" width="128" height="64">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Microsoft</h4>
            <div class="media" rel="popover"  data-content="Nullam cursus pellentesque fermentum. Suspendisse consequat elit malesuada metus cursus tristique. 
              Integer in sapien eu elit" data-original-title="Dot Net">
              Nullam cursus pellentesque fermentum. Suspendisse consequat elit malesuada metus cursus tristique. 
              Integer in sapien eu elit
            </div>
          </div>
        </div>
      </div>
      
      <div class="span4">
        <div class="media thumbnail">
          <a class="pull-left" href="#java" role="button" data-toggle="modal">
            <img class="media-object" src="/assets/icons/java.png" width="128" height="64">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Java</h4>
            <div class="media" rel="popover" data-placement="top" data-content="Nullam cursus pellentesque fermentum. Suspendisse consequat elit malesuada metus cursus tristique. 
              Integer in sapien eu elit" data-original-title="Java">
              Nullam cursus pellentesque fermentum. Suspendisse consequat elit malesuada metus cursus tristique. 
              Integer in sapien eu elit
            </div>
          </div>
        </div>
      </div>
      
      <div class="span4">
        <div class="media thumbnail">
          <a class="pull-left" href="#cold_fusion" role="button" data-toggle="modal">
            <img class="media-object" src="/assets/icons/cold_fusion.png" width="128" height="64">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Cold Fusion</h4>
            <div class="media" rel="popover" data-placement="top" data-content="Nullam cursus pellentesque fermentum. Suspendisse consequat elit malesuada metus cursus tristique. 
              Integer in sapien eu elit" data-original-title="Cold Fusion">
              Nullam cursus pellentesque fermentum. Suspendisse consequat elit malesuada metus cursus tristique. 
              Integer in sapien eu elit
            </div>
          </div>
        </div>
      </div>

    </div>
    
    
    <div class="row thumbnails" style="margin-top: 20px;">
      <div class="span4">
        <div class="media thumbnail">
          <a class="pull-left" href="#tibco" role="button" data-toggle="modal">
            <img class="media-object" src="/assets/icons/tibco.png" width="128" height="64">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Tibco</h4>
            <div class="media" rel="popover" data-placement="top" data-content="Nullam cursus pellentesque fermentum. Suspendisse consequat elit malesuada metus cursus tristique. 
              Integer in sapien eu elit" data-original-title="Tibco">
              Nullam cursus pellentesque fermentum. Suspendisse consequat elit malesuada metus cursus tristique. 
              Integer in sapien eu elit
            </div>
          </div>
        </div>
      </div>
      
      <div class="span4">
        <div class="media thumbnail">
          <a class="pull-left" href="#php" role="button" data-toggle="modal">
            <img class="media-object" src="/assets/icons/cold_fusion.png" width="128" height="64">
          </a>
          <div class="media-body">
            <h4 class="media-heading">PHP</h4>
            <div class="media" rel="popover" data-placement="top" data-content="Nullam cursus pellentesque fermentum. Suspendisse consequat elit malesuada metus cursus tristique. 
              Integer in sapien eu elit" data-original-title="PHP">
              Nullam cursus pellentesque fermentum. Suspendisse consequat elit malesuada metus cursus tristique. 
              Integer in sapien eu elit
            </div>
          </div>
        </div>
      </div>
      
      <div class="span4">
        <div class="media thumbnail">
          <a class="pull-left" href="#ux" role="button" data-toggle="modal">
            <img class="media-object" src="/assets/icons/ux.png" width="128" height="64">
          </a>
          <div class="media-body">
            <h4 class="media-heading">UX</h4>
            <div class="media" rel="popover" data-placement="top" data-content="Nullam cursus pellentesque fermentum. Suspendisse consequat elit malesuada metus cursus tristique. 
              Integer in sapien eu elit" data-original-title="UX">
              Nullam cursus pellentesque fermentum. Suspendisse consequat elit malesuada metus cursus tristique. 
              Integer in sapien eu elit
            </div>
          </div>
        </div>
      </div>

    </div>
    
  </div>
</div>

<%= render 'global_partial/ruby_on_rails' %>
<%= render 'global_partial/php' %>
<%= render 'global_partial/mobility' %>
<%= render 'global_partial/microsoft' %>
<%= render 'global_partial/ux' %>
<%= render 'global_partial/tibco' %>
<%= render 'global_partial/java' %>
<%= render 'global_partial/cold_fusion' %>

