<div class="row">
  <div class="span12 slide"  id="slide6" data-slide="6" data-stellar-background-ratio="0.5">

    <div class="image-center" style="width: 330px;">
      <img src="/assets/ea-logo/tech-logo.png" alt="" />
    </div>
  </div>
</div>

<div class="row thumbnails" >

  <div class="span3">
    <div class="media thumbnail image-center">
      <a class="" href="#mobility" role="button" data-toggle="modal">
        <img class="media-object" src="/assets/ea-logo/tech-mobile.png" >
      </a>
      <h3>MOBILE</h3>
    </div>
  </div>

  <div class="span3">
    <div class="media thumbnail image-center">
      <a href="#php" role="button" data-toggle="modal">
        <img class="media-object" src="/assets/ea-logo/tech-php.png">
      </a>
      <h3>PHP</h3>
    </div>
  </div>
  
  <div class="span3">
    <div class="media thumbnail image-center">
      <a href="#microsoft" role="button" data-toggle="modal">
        <img class="media-object" src="/assets/ea-logo/tech-net.png">
      </a>
      <h3>.NET</h3>
    </div>
  </div>
  
  <div class="span3">
    <div class="media thumbnail image-center">
      <a href="#java" role="button" data-toggle="modal">
        <img class="media-object" src="/assets/ea-logo/tech-java.png">
      </a>
      <h3>JAVA</h3>
    </div>
  </div>

</div>  






<div class="row thumbnails" >

  <div class="span3">
    <div class="media thumbnail image-center">
      <a href="#ux" role="button" data-toggle="modal">
        <img class="media-object" src="/assets/ea-logo/tech-ux.png">
      </a>
      <h3>UX</h3>
    </div>
  </div>

  <div class="span3">
    <div class="media thumbnail image-center">
      <a href="#cold_fusion" role="button" data-toggle="modal">
        <img class="media-object" src="/assets/ea-logo/tech-cf.png">
      </a>
      <h3>Cold Fusion</h3>
    </div>
  </div>
  
  <div class="span3">
    <div class="media thumbnail image-center">
      <a href="#ruby_on_rails" role="button" data-toggle="modal">
        <img class="media-object" src="/assets/ea-logo/tech-ror.png">
      </a>
      <h3>Ruby on Rails</h3>
    </div>
  </div>
  
  <div class="span3">
    <div class="media thumbnail image-center">
      <a href="#tibco" role="button" data-toggle="modal">
        <img class="media-object" src="/assets/ea-logo/tech-tibco.png">
      </a>
      <h3>Tibco</h3>
    </div>
  </div>

</div> 


<%= render 'global_partial/ruby_on_rails' %>
<%= render 'global_partial/php' %>
<%= render 'global_partial/mobility' %>
<%= render 'global_partial/microsoft' %>
<%= render 'global_partial/ux' %>
<%= render 'global_partial/tibco' %>
<%= render 'global_partial/java' %>
<%= render 'global_partial/cold_fusion' %>

