<%= render "header_javascript" %>


<div class="menu">	
  <div class="container clearfix">

    <div id="logo" class="fleft">
      <a href="#"><img src="/assets/ea_logo.png" alt="" width="100%" height="100%" /></a>
    </div>

    <div id="nav" class="fright">
      <ul class="navigation">
        <li class="active" data-slide="1">Home</li>
        <li class="active" data-slide="2">About</li>
        <li class="" data-slide="4">Work</li>
        <li class="" data-slide="6">Services</li>
        <li class="" data-slide="10">Contact</li>
      </ul>
    </div>

  </div>
</div>

<div style="background-position: 0px -439px;" class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
  <div class="effect_2 padding_slide1">
    <div class="container clearfix">
      <div id="content" class="grid_12">
        <h1>IT Excellence<br><span class="info">With Honesty & Integrity</span></h1>
        <h2>
          We do TIBCO, Ruby on Rails, HTML5, Node.js, PHP, Java, DotNet, Cold fusion, IOS, Android related web & mobile development
        </h2>
        <a class="button first_btn" title="" data-slide="2"></a>

        <div id="portf_btn">
          <a class="button second_btn" title="" data-slide="4">View Portfolio</a>
        </div>
      </div>


      <ul>
        <li><a id="fancybox-manual-c" href="javascript:;">Open gallery</a></li>
      </ul>


    </div>
  </div>
</div>


<%= render "about" %>



<div style="background-position: 0px 909.275px;" class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
  <div class="effect_2 padding_slide3">
    <div class="container clearfix">

      <div id="content" class="grid_12">
        <p>Integer ut lacus nec mauris</p>
        <img class="icon_bg" src="STUDIO27%20-%20Photographer%20Website_files/icon10.png">
        <span>Nullam vel tellus id diam accumsan congue ut non elit.</span>
        <span>Cras massa ligula, tempor sed eleifend eget, rutrum quis nulla. Class aptent taciti sociosqu ad litora</span>
      </div>

    </div>
  </div>
</div>



<%= render "work" %>

<div style="background-position: 0px 1617.27px;" class="slide" id="slide5" data-slide="5" data-stellar-background-ratio="0.5">
  <div class="effect_2 padding_slide5">
    <div class="container clearfix">

      <div id="content" class="grid_12">
        <p>Nullam vel tellus id diam</p>
        <img class="icon_bg" src="STUDIO27%20-%20Photographer%20Website_files/icon11.png">
        <span>Nullam vel tellus id diam accumsan congue ut non elit.</span>
        <span>Cras massa ligula, tempor sed eleifend eget, rutrum quis nulla. Class aptent taciti sociosqu ad litora</span>
      </div>

    </div>
  </div>
</div>


<%= render "services" %>


<div style="background-position: 0px 2301.77px;" class="slide" id="slide7" data-slide="7" data-stellar-background-ratio="0.5">
  <div class="effect_2 padding_slide7">
    <div class="container clearfix">

      <div id="content" class="grid_12">
        <p>interdum mauris non metus</p>
        <img class="icon_bg" src="STUDIO27%20-%20Photographer%20Website_files/icon12.png">
        <span>Duis et sem nisl. Etiam interdum mauris non metus pulvinar tincidunt. Quisque tristique diam sit amet</span>
        <span>sapien laoreet scelerisque. Etiam a justo elit, non fringilla justo.</span>
      </div>

    </div>
  </div>
</div>



<%= render "contact" %>

<div id="footer">
  <div class="container clearfix">
    <div class="copyright">studio 27 \A9 2020 | <a href="#">Privacy Policy</a></div>
    <div id="back_top"><a class="button" title="" data-slide="1">back to top</a></div>
  </div>
</div>
