<!DOCTYPE html>
<html>
  <head>
    <title>EA Technologies</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "jquery.fancybox" %>
    <%= csrf_meta_tags %>

  </head>
  <body>

    <%= yield %>

  </body>
</html>
